<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <h3>Exhibition 1: Digital Dream: art in the Age of Algorithms</h2>
        <p>This exhibition explore how artisit are using algorithms, artificial intelligence, and generative tools to create new forms of digital experession. Through interactive display and dynamic visuals, visitors can see how machines and humna creativy work together to produce art that evovles in real time.</p>
        <h3>Exhibition 2: Code & Canvas: the Language of Creative Technology</h2>
        <p>Code & Canvas highlights the way programming has become a medium for artristic creation. Featuring works by digital artists and designers, the exhibition showcases installations, projections, and ineractive pieces that reveal how lines of code can transform into immersive visual expereinces.</p>
        <footer>&copy; 2026 MonoMuse.All right reserved</footer>
    </div>
</body>
</html>