<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>

    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Your JS -->
    <script src="../static/script.js" defer></script>
</head>

<body>

<div class="container">

<header class="header">
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
</header>

    <nav class="nav_bar" id="navbar">
        <button onclick="toggleMenu()">☰</button>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <main class="main">

    <h3>Exhibition 1: Digital Dream: Art in the Age of Algorithms</h3>
    <img src="../static/Gemini_Generated_Image_st22ffst22ffst22.png" alt="Digital art exhibition display at MonoMuse" width="400">
    <p>
        This exhibition explores how artists are using algorithms, artificial intelligence, and generative tools to create new forms of digital expression. Through interactive displays and dynamic visuals, visitors can see how machines and human creativity work together to produce art that evolves in real time.
    </p>

    <h3>Exhibition 2: Code & Canvas: The Language of Creative Technology</h3>
    <img src="../static/Gemini_Generated_Image_32fa6132fa6132fa.png" alt="Digital art exhibition display at MonoMuse" width="400">

    <p>
        Code & Canvas highlights the way programming has become a medium for artistic creation. Featuring works by digital artists and designers, the exhibition showcases installations, projections, and interactive pieces that reveal how lines of code can transform into immersive visual experiences.
    </p>

    <!-- ✅ VIDEO -->
    <h2>Watch Our Museum in Action</h2>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IHt71N47cc0?si=Hmv5k8XnMTHTQv0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    
</main>

</div>
<footer class="footer">
    <p>&copy; <span id="copyYear"></span> MonoMuse&emsp;&emsp;&emsp;Contact Us:&emsp;Email: info@monomuse.com&emsp;Phone: (412) 123-4567</p>
</footer>
</body>
</html>