<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    
</head>

<body>

<h1>Explore Page</h1>

<nav>
    <a href="../index.html">Home</a>
    <a href="explore.html">Explore</a>
    <a href="exhibitions.html">Exhibitions</a>
    <a href="tickets.html">Buy Tickets</a>
    <a href="checkout.html">Checkout</a>
</nav>
<div class="main">

    <img src="../static/image_ed86001c.png" alt="MonoMuse Building" width="400" >
    <h2>Mission Statement</h2>

    <p>To preserve and expand the resources of art and science as agents of personal growth and social advancement.</p>

    <h2>Milestones</h2>
    <ul>
        <li>2023: Expansion of the museum space</li>
        <li>2018: Launch of the Interactive Media Lab</li>
        <li>2016: Museum opened</li>
    </ul>
    <footer>&copy; 2026 MonoMuse.All right reserved</footer>
</div>
</body>
</html>